/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=M+PLUS+1p&family=Poppins:wght@500&family=Secular+One&display=swap');
/* common styles utilize */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.container{
    background-color: #FFFFFF;
width: 800px;
padding: 30px;
margin-top: 12px;
border-radius: 5px;
}
/* top palyer */
.top-player{
    margin-bottom: 21px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
     padding-top: 20px; 

}
.players{
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
.player{
    display: flex;
    align-items: center;
    
}
.player img{
     height: 56px;
     width:56px ;
}
.player-name{
    margin-left: 16px;
    margin-bottom:16px ;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;

}
/* top blog style */
.top-blog{
    display: grid;
    
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blog{
    display: flex;
}
.thumbel img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 20px;
}
.blog-title{
    font-size: 20px;
}
.blog-writer{
    color:#9F9F9F;
    font: size 16px;
}
.blog-info a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/* courses-style */
.courses{
    display: grid;
     grid-template-columns: repeat(3,1fr);
}
.corse-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course img{
    width: 224px;
height: 104px;
}
.filled{
    font-size: 12px;
    color: #ffc014 !important;

}
.fa-star .empty{
    font-size: 1px;
    color: #A2A2A2;
}
span{
    color:  #A2A2A2;;
}
.fa-clock{
    color: #ED6B4F;
}
/*----------
 MEDIA QUERIES 
---------*/
/* mobile devices */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
.players, .blogs, .courses{
     grid-template-columns: repeat(1,1fr); 

}
.player{
    flex-direction:column;
}


}